.filtro {
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 5px;
    box-sizing: content-box;
  }
 button{
    margin-left: 5px;
    padding: 5px;
  }
  input{
    background-color: orange;
    border:none;
    margin-left:10px; 
    padding: 10px;
    border-radius: .5em;
    font-size: 0.9em;
  }
  input:focus {
    outline: 0;
    }
    button{
      border-radius: .5em;
      background-color: #f6648b;
      color:white;
      border:none;
      padding: 5px 10px;
      font-size: 0.9em;
    }