.filtro {
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 5px;
  box-sizing: content-box;
  margin-top: 5px;
}
button {
  margin-left: 5px;
  padding: 5px;
}

input {
  background-color: orange;
  border: none;
  margin-left: 5px;
  padding: 10px;
  border-radius: .5em;
  font-size: 0.9em;
}

input:focus {
  outline: 0;
}

.filter {
  border-radius: .5em;
  background-color: #f6648b;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9em;
}
.clear {
  border-radius: .5em;
  background-color: #23849c;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9em;
}

::placeholder {
  color: #000;
}
button:focus {outline:0 !important;
 
}
